
*.wsdt
*.sisc
*.sisc
*.dbgdt
*.xml
*.siwork
MyApplication/sourceInsight.si4project/cache/parse/Core_Inc_FreeRTOSConfig.h.sisc
*.sisc
MyApplication/sourceInsight.si4project/sourceInsight.SearchResults
*.sip_xsb
